
services:
  database:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: oopsie
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: oopsie
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "oopsie", "-U", "oopsie"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw

volumes:
  database_data:
